@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-image: url('img/use.jpg');
    background-size: cover; /* Cover the entire background */
            background-position: center; /* Center the background image */
            background-repeat: no-repeat;
}
.wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h4 {
    margin-left: 80px; /* Adjust the value as needed */
}

.registration_form{
    background: white;
    padding: 25px;
    border-radius: 0;
    width: 600px;
}
.form_wrap{
    margin-top: 35px;
}
.styled-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add cursor pointer on hover */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

/* Button hover effect */
.styled-button:hover {
    background-color: #45a049; /* Darker green background color on hover */
}

/* Icon styles */
.styled-button i {
    margin-right: 5px; /* Add space between icon and text */
}
.colo {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
  }
  input[type=text] {
   
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  }
  .root {
    display: flex;
  }